a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #efefef;
  margin: 0;
  color: #333;
}

.main {
  width: 1100px;
  margin: 0 auto;
  background-color: white;
}

.container {
  width: 1000px;
  margin: 0 auto 40px auto;
  padding-bottom: 70px
}

.title {
  margin: 0 auto 30px;
  padding-top: 100px;
  width: 500px;
}

h1 {
  font-weight: normal;
  text-align: center;
  margin-top: 0 ;
  padding-top: 20px;
  border-bottom: 2px solid slategray;
}

.question-list{
  width: 600px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.search-question {
  padding: 20px 20px 10px;
  border: 1px solid #777;
  border-radius: 3px;
  height: 100px;
  margin-bottom: 10px;
}

.type {
  display: flex;
  margin: 0 10px 5px 0;
}

.solution {
  color: white;
  font-size: 0.7rem;
  border: 1px solid rgb(65, 62, 62);
  background-color: red;
  border-radius: 3px;
  padding: 1px;
}

.unsolved {
  color: white;
  font-size: 0.7rem;
  border: 1px solid rgb(65, 62, 62);
  background-color: green;
  border-radius: 3px;
  padding: 1px;
}

.question-category {
  font-size: 0.7rem;
  border: 1px solid rgb(65, 62, 62);
  background-color: rgb(143, 179, 212);
  margin-left: 10px;
  border-radius: 3px;
  padding: 1px;
}

.question-title {
  margin: 10px 10px 10px 0;
}

.null {
  color: red;
  width: 275px;
  margin: 0 auto;
  border-bottom: 1px solid red;
}

.bookmark {
  text-align: right;
}

